@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #09203f;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}