@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    height: 100vh;
}